.searchTodoInput{
  width: 100%;
  height: 50px;
  padding: 16px;
  background-color: var(--background-primary-500);
  border: 1px solid var(--background-primary-700);
  transition: .3s all;
  margin-bottom: 50px;
}
